.appoint-status{
    padding: 5px;
    border-radius: 8px;
    &.Completed{
        color: #71bd81;
        font-weight: 500;

    }
    &.Pending{
        color: #f5a00e;
        font-weight: 500;

    }
    &.completed{
        color: #71bd81;
        font-weight: 500;

    }
    &.pending{
        color: #f5a00e;
        font-weight: 500;

    }
}

.specialities-active{
    padding: 5px;
    border-radius: 8px;
    &.Active{
        color: #71bd81;
        font-weight: 500;
    }
    &.active{
        color: #71bd81;
        font-weight: 500;
    }
    &.Inactive{
        color: #f5a00e;
        font-weight: 500;
    }
    &.inactive{
        color: #f5a00e;
        font-weight: 500;
    }
}


.cellStatus{
    padding: 5px;
    border-radius: 8px;
    &.Completed{
        color: #71bd81;
        font-weight: 500;

    }
    &.Pending{
        color: #f5a00e;
        font-weight: 500;

    }
    &.completed{
        color: #71bd81;
        font-weight: 500;
    }
    &.pending{
        color: #f5a00e;
        font-weight: 500;
    }
}

